body {
    font-family: Roboto;
    font-weight: 400;
    color: $gray-dark;
}

h1 {
    font-family: Roboto;
    font-weight: 300;
    margin: 0 auto;
    font-size: 2.5rem;
    line-height: 1.5;
    max-width: 600px;
}

h1.callout {
    color: $green-hmbc;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    max-width: 768px;
}

h2 {
    color: $blue-3t;
}

.c-head-link {
    text-decoration: none;
}

a.c-head-link h2 {
    color: $blue-3t;
    text-decoration: none;
    position: relative;
    display: inline-block;

    &:hover:after {
        content: '';
        padding: 0;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $blue-3t;
        bottom: -0.15rem;
        left: 0;
    } 
}

h3 {
    font-size: 1.5rem;
    line-height: 1.33;
}

.page-label {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $blue-3t;
    position: relative;

    &:after {
        content: '';
        padding: 0 0.5rem;
        position: absolute;
        height: 2px;
        width: calc(100% - 0.25rem);
        background-color: $blue-3t;
        bottom: -0.25rem;
        left: 0;
    }
}

