.c-content {
	.lead {
		margin-bottom: 2rem;
		line-height: 1.6;
	}

	h2 {
		color: $gray-dark;
	}

	figcaption {
		font-size: 0.875rem;
		margin-bottom: 1rem;

		@include media-breakpoint-up(md) {
			width: 80%;
			float: right;
			text-align: left;
		}
	}

	h2,
	h3,
	h4,
	p,
	blockquote {
		clear: both;
	}

	.alignright {
		display: block;
		margin-right: 0;
	}

	figure {
		@include media-breakpoint-up(md) {
			text-align: right;
		}
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

	figure img {
		@include media-breakpoint-up(md) {
			width: 80% !important;
		}
		margin-bottom: 0.5rem;
	}

	a {
		color: $blue-3t;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
			transition: all 0.3s;
		}
	}
}
