.c-logo {
    margin-bottom: 0.5rem;
    margin-left: 0;
    padding-bottom: 0.5rem;

    
    @include media-breakpoint-up(md) { 
        border-bottom: 2px solid $blue-3t;
        background-color: $white;
        position: relative; 
        top: 2rem; 
        z-index: 10;
        margin-bottom: 0;
        margin-left: 1rem;
        margin-top: 1rem;
    }
} 

.c-logo__link {
    display: block;
    padding-top: 0.5rem;

    @include media-breakpoint-up(md) {
        padding: 0 1rem 0.25rem 1rem; 
    }
}

.c-logo__img {
    width: 100%;
    max-width: 225px;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $blue-3t;
    

    @include media-breakpoint-up(md) {
        max-width: 285px;
        padding-bottom: 0;
        border-bottom: 0;
    }
}