.c-logo {
    margin-bottom: 0.5rem;
    
    @include media-breakpoint-up(md) { 
        border-bottom: 2px solid $blue-3t;
        background-color: $white;
        position: relative; 
        top: 2rem; 
        z-index: 10;
        margin-bottom: 0;
    }
} 

.c-logo__link {
    display: block;
    padding: 0 1rem 0.25rem 1rem; 
}

.c-logo__img {
    width: 100%;
    max-width: 285px;
}