.c-button {
    @include button;   
}

.c-button--inversed {
    background-color: $white;
    color: $green-hmbc; 
    border: 2px solid $green-hmbc;

    &:hover {
        background-color: $white;
        border-color: $green-hmbc-bright;
        color: $green-hmbc-bright;
    }

}