.c-navigation-main {
    @include media-breakpoint-up(md) { 
        align-self: flex-end;
    }
    font-size: 1.25rem;
    padding: 1rem 0;
}

.c-navigation-main__list {
    .nav-link {
        color: $blue-3t;
        text-transform: uppercase;
        position: relative;
        padding-left: 1rem !important;
        padding-right: 1rem !important;

        &:hover {
            color: $gray-medium;
        }

        &:hover:after {
            content: '';
            padding: 0 0.5rem;
            position: absolute;
            height: 2px;
            width: calc(100% - 2rem);
            background-color: $gray-medium;
            bottom: 0;
            left: 1rem;
        }


    }
}