.c-project-block {
    padding-bottom: 1rem;
    border-bottom: 2px solid $blue-3t;
    margin-bottom: 3rem;
}

.c-project-block__img {
    margin-bottom: 1rem;
}

.c-project-block__label {
    color: $gray-dark;
    font-size: 0.75rem;
    text-transform: uppercase;
    display: block;
}

.c-project-block__link {
    display: block;

    &:hover {
        text-decoration: none;
    }
}

.c-projects-sidebar__title {
    text-align: center;
    margin-bottom: 2rem;
    color: $green-hmbc;
}