.c-footer-form__label {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $gray-dark;
}

.c-footer-form__input {
    border-radius: 8px;
    border: 1px solid $gray-light;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
}

.c-footer-form__button {
    border: none;
    @include button;
    
    &:hover {
        cursor: pointer;
    }

}