.c-footer-top {
	background-color: $green-hmbc-light;
	padding: 2rem 1rem;
}

.c-footer-top__container {
	display: flex;
}

.c-footer-bottom {
	background-color: $gray-dark;
	padding: 1rem 0;
	text-align: center;
	color: $white;
	font-size: 0.75rem;
}

.c-footer__title {
	font-family: "Roboto Condensed";
	font-weight: 700;
	font-size: 1.25;
	margin-bottom: 1rem;
}

.c-footer__content {
	ul {
		margin-bottom: 1.5rem;
		padding: 0;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid $gray-light;

		@include media-breakpoint-up(md) {
			border-bottom: none;
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
	}

	li {
		list-style-type: none;
		margin-bottom: 1rem;

		&:last-of-type {
			margin-bottom: 0;
		}

		a {
			color: $blue-3t;
		}
	}

	a {
		color: $blue-3t;
	}
}
